/* List music */

.contenido {
    padding: 20px 100px;
    display: grid;
    grid-template-columns: 55% 40%;
    gap: 5%;
}

.tipos {
    display: flex;
    align-items: center;
    gap: 30px;
}

h4 {
    font-size: 20px;
    margin: 0;
}

.tipos > div {
    display: flex;
    gap: 20px;
}

.tipos > div > p {
    cursor: pointer;
    color: gray;
    transition: .5s;

    &:hover {
        color: black;
        border-bottom: 1px solid black;
    }
}

.music {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.music_infor {
    display: grid;
    grid-template-columns: 8% 40% 20% 10% 10% auto;
    border-bottom: 1px solid grey;
    opacity: .5;
}

.number, .track, .add {
    text-align: center;
}

.like {
    display: flex;
    justify-content: center;
}

.like > img {
    cursor: pointer;
}

.like_red {
    display: none;
}

.canciones {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.music_list {
    display: grid;
    grid-template-columns: 8% 40% 20% 10% 10% auto;
    border-radius: 10px;
    align-items: center;
    transition: .5s;

    &:hover {
        scale: 1.01;
        background-color: #d0cece;
    }
}

.music_list > p {
    font-weight: bold;
}

.music_play {
    display: flex;
    align-items: center;
    gap: 15px;
}

.play, .pause {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.img_music {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.music_play > div {
    line-height: 10px;
}

.name_music {
    font-weight: bold;
}

.artista {
    color: gray;
}

.more {
    display: grid;
    grid-template-columns: auto 30% auto;
    align-items: center;
}

.more > hr {
    width: 100%;
    opacity: .8;
}

.more > div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.more > div > p {
    text-align: center;
}

.more > div > img {
    width: 15%;
    cursor: pointer;
}   

/* album */

.container_album {
    display: grid;
    grid-template-rows: 10%;
}

.new_album {
    display: flex;
    align-items: center;
}

.categorias {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
}

.categorias > div > img {
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.categorias > div > p {
    line-height: 5px;
}

@media (max-width: 767px){
    .contenido {
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px 20px;
        gap: 2%;
    }
    .music_infor {
        display: grid;
        grid-template-columns: 10% 60% 20% auto;
    }
    .album, .start {
        display: none;
    }
    .music_list {
        display: grid;
        grid-template-columns: 10% 60% 20% auto;
    
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .contenido {
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px 50px;
        gap: 0;
    }
}
