/* main */

main {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: calc(100vh - 200px);
}

.main_text { 
    display: flex; 
    justify-content: center; 
    flex-direction: column;

    gap: 50px;
} 

.main_img { 
    display: flex; 
    justify-content: center; 
    flex-direction: column;

    gap: 100px;
}

.description {
    display: flex;
    align-items: center;
    gap: 25px;
}

.description > h1 {
    font-size: 4rem;
    color: white;
    margin: 0;
}

.description > img {
    background: rgb(16, 0, 94);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons > button {
    padding: 15px 25px;
    background: rgba(255, 255, 255, 0.368);
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 2px white;
}

.img_track {
    display: flex;
    align-items: center;
    padding-left: 100px;
    gap: 20px;
}

.img_track > p > span {
    color: white;
    font-weight: bold;
}

.img_track > img {
    width: 80px;
    border-radius: 10px;
}

.img_homogenic {
    display: flex;
    align-items: center;
    gap: 20px;
}

.img_homogenic > p > span {
    color: white;
    font-weight: bold;
}

.img_homogenic > img {
    width: 80px;
    border-radius: 10px;
}